<div class="row">
    <div class="col-md-4">
        <h1>註冊</h1>
        {{#if hasError}}
        <div class="alert alert-danger"> 
            {{#each message}}
            <p>{{this}} </p>
            {{/each}}
        </div>
        {{/if}}
        <form action="/users/signup" method="post">
            <div class="form-group">
            <label for="email">e-mail</label>
            <input type="text" class="form-control" name="email">
            </div>
       
             <div class="form-group">
            <label for="email">密碼</label>
            <input type="text" class="form-control" name="password">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" type="submit">註冊</button>
        </form>
    </div>
</div>