body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.thumbnail img{
  max-height: 150px;

}
.title{
  margin-bottom:10px; 
  
}
.price{
  color:red;
  font-weight:bold;
}